# Ignorar node_modules
node_modules/

# Ignorar lock files de npm o yarn 
yarn.lock

# Ignorar archivos de entorno
.env

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar IDE y configuraciones locales
.idea/
.vscode/
.DS_Store

# Build output
dist/
build/
